@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply cursor-pointer hover:underline;
  }
  @layer base {
    html {
      @apply font-play;
    }
    body {
      @apply bg-gray-50;
    }
  }
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
